
.questionLinks {
    min-height: 200px;
    text-align: left;
    border: 1px solid rgb(117, 115, 115);
    border-radius: 8px;
}
.linksToAnswer {
    text-decoration: underline;
    color: cadetblue;
}
.answersHolderBox {
    color: rgb(34, 35, 36);
    border-bottom: 1px solid rgb(117, 115, 115);
    text-align: left;
    padding: 10px;
    min-height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.answers {
    margin: 5px;
    color: rgb(99, 99, 99);
}
.receiveAllBTN {
    border: none;
    border-radius: 5px;
    background-color: #2F0743;
    color: white;
    padding: 5px;
    font-weight: bolder;
    min-width: 90px;
  }
  #body {
    overflow-y: scroll;
    max-height: 83%;
  }

  .saveFileBTN {
    background-color: #2F0743;
    background-image: linear-gradient(to right, #2F0743,#41295a);
    border-radius: 50%;
    border: none;
    color: white;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    margin: auto;
    height: 35px;
    width: 35px;
    cursor: pointer;
    outline: none;
  }