@font-face {
  font-family: openSans;
  src: url(OpenSans-Regular.ttf);
}
*{
  font-family: openSans;
}
.credits {
  text-align: center;
  vertical-align: top;
  margin-bottom: -30px;
  color: azure;
  padding-bottom: 10px;
}
body {
  background-image: linear-gradient(to left, #8f94fb, #4e54c8); 
}
#body {
    border-collapse: collapse;
    border-spacing: 0;
    margin:2px;
    padding: 10px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
    min-height: 300px;
    max-width: 500px;
    text-align: center;
    background-color: white;
    font-size: 15px;
    z-index: 100;
  }
  
div.downloader {
    text-align: left;
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  div.downloadContainer {
    box-shadow: 1px 3px 8px black;
    margin-bottom: 20px;
    border-radius: 3px;
    padding: 5px;
    padding-bottom: 5px;
    background-color: rgb(250, 244, 227);
  }
  @keyframes shadow-pulse
{
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
  }
}
  h2 {
      text-align: center;
      color: whitesmoke;
      font-size:30px;
  }
#saved {
  font-size: 15px;
  color: rgb(100, 100, 0);
  margin-top: -50px;
  font-weight: bolder;
}
#icons {
  color: white;
}
.receiving_status {
  font-size: 10px;
  color: white;
  font-weight: bolder;
}
.fileDetail{
  width: 75%;
  word-wrap: break-word;
  display: inline-block;
  min-height: 40px;
}
.fileBTN {
  width: 20%;
  border-left: 1px solid rgb(184, 182, 182);
  text-align: center;
  align-items: center;
  display: inline-block;
}
.saveFileBTN {
  background-color: #4CAF50;
  background-image: linear-gradient(to right, #2F0743,#41295a);
  border-radius: 50%;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  height: 35px;
  width: 35px;
  cursor: pointer;
}
div.downloadProgressBar {
  
  border-radius: 10px;
  height: 6px;
  background-color: #ddd;
  display: none;
}
div.progressBar {
  border-radius: 10px;
  height: 6px;
  width: 30%;
  background-color: rgb(55, 186, 230);
  padding-left: 10px;
  padding-right: 10px;
  display: none;
}