#body {
    border-collapse: collapse;
    border-spacing: 0;
    margin:5px;
    padding: 5px;
    border: 1px solid rgb(100, 100, 100);
    border-radius: 10px;
  }
  
p {
    text-align: left;
    padding: 10px;
  }
  
  p:nth-child(odd) {
    background-color: #e0d6d6;
  }
  h2 {
      text-align: center;
      color:green;
      font-size:30px;
  }
#saved {
  font-size: 15px;
  color: rgb(100, 100, 0);
  margin-top: -50px;
  font-weight: bolder;
}
.receiving_status {
  font-size: 15px;
  color: rgb(100, 100, 100);
  margin-top: -50px;
  font-weight: bolder;
  padding-right: 40px;
}
.downloadLink {
  text-align: right;
  float: right;
  margin-right: 10px;
}
.saveFileBTN {
  background-color: #4CAF50;
  border-radius: 50%;
  border: none;
  color: white;
  padding: 5px;
  padding-bottom: 5px;
  float: right;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}